

.container{
	padding:5px;
	height: 50px;
	width: 700px;
	background-color: blue;
	display: flex;
	justify-content: center;
    
}

.container>div{
padding:3px;

height: 30px;
width: 150px;

}

#d1{
	background-color: green;
}
#d2{
	background-color: red;
}
#d3{
	background-color: white;
}